body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EDF2F4;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2B2D42;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    z-index: 100; 
}

.logo a {
    text-decoration: none;
    color: #EF233C;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 20px; 
}

.nav-links a {
    text-decoration: none;
    color: #EF233C;
}