body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2B2D42;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D90429;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    z-index: 100; 
}

.logo a {
    text-decoration: none;
    color: #EDF2F4;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 20px; 
}

.nav-links a {
    text-decoration: none;
    color: #EDF2F4;
    position: relative;
    font-size: 24px;
}

.nav-links a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #2B2D42;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s ease;
}

.nav-links a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.home {
    height: 100vh;
    background-color: #2B2D42;
    background-size: cover;
    background-position: center;
    color: #EF233C;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home h1 {
    font-size: 80px;
}

.line {
    width: 1000px;
    height: 2px;
    background-color: #8D99AE;
    margin: 20px auto;
}

.content {
    background-color: #8D99AE; /* Change this to your desired background color */
}

.content p {
    font-size: 30px;
    text-align: center;
}